.title-block {
    text-align: center;
}

#mentions {
    color: #E30613;
    font-family: hummingbird, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    font-size: 100px;
}

#en-cours {
    font-family: Poppins;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    font-size: 40px;

}

.img-block img {
    max-width: 200px;
    align-content: center;
}