.StripeElement {
    box-sizing: border-box;

    height: 40px;

    padding: 10px 12px;

    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;

    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

/* Section navbar css
============================================================================================ */

.picto {
    vertical-align: middle;
    width: 25px;
}

#main-logo {
    width: 110px;
}

header {
    justify-content: space-between;
    display: flex;
    align-items: center;
    max-width: 1280px;
    margin: auto;
    padding: 10px 0px;
}

.header-group {
    display: flex;
    align-items: center;
}

.header-group i {
    font-size: 24px;
    /*margin: 3px;*/
}

.header-group a {
    padding: 0 15px;
}

.header-group a:hover {
    color: red;
}

#links a {
    border-right: 2px solid #E30613;
}

#links a:last-child {
    border: none;
}

/* home.blade.php
============================================================================================ */

main {
    max-width: 1280px;
    margin: auto;
}

.map {
    max-width: 100%;
}

/* shop.blade.php
============================================================================================ */

main {
    max-width: 1280px;
    margin: auto;
}

.header-products {
    max-width: 100%;
}